.divy{
  width: auto;
  height: auto;
}
.nav-link{
  color: white;
}
.nav{
  background-color:#6EABE;
  margin-right: 3%;
}

.navbar{
  background-color: #EED6C4;
}

.carousel{
  justify-content: center;
  background-color: #6C4A4A;
}
div{
  width: auto;
  height: auto;
}


.carousel-inner{
  width: 900px;
  height:900%;
  background-size: cover;
  background-position: center;
}
.carousel-inner img {
   display:block;
   height: auto;
   max-width: 100%;
}

section{
  margin: 10% 10%;
}
.foot{
  text-align: center;
  width: auto;
}

.center{
  margin-left: 10px;
}
.social-icon {
  margin: 20px 10px;
}

h2{
  padding-bottom:  5%;
}

footer {
   bottom : 2;
   height : 40px;
   text-align: center;
   vertical-align: middle;


   width:950px;
   margin:40px auto 0;

  }
  .slid{
    margin:1px ;
    width: 100% ;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #191A19;
    background-size: cover;
    border-top: 0;
    text-align: center;
    background-image:url("./star1.jfif");
  }

h1{
  color: red;
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;
}
.wel{
  color: white;
  text-align: center;
  padding-bottom: 120px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.btn{
  transition: all 0.5s ease ;
}
.btn:hover{
  transform: scale(1.1,1.1);
}
